#root {
  overflow: hidden;
}

// ----------------------------
// VARIABLES
// ----------------------------
$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}
// -----------------------------
// Header
// -----------------------------

nav {
  background-color: #2a9612; 
  color: $contrastcolor; 
  display: flex;
  justify-content: flex-start;

  a {
    color: $contrastcolor; 
    margin: 10px;
    font-size: large;
  }
}

/* Apply column layout to forms */
.form-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Apply styles to form inputs */
.form-input {
  margin: 10px 0;
  padding: 5px;
  width: 80%; /* Adjust the width to your preference */
}

h1, h2 {
  text-align: center;
}

/* Style the form button */
.form-button {
  margin-top: 10px;
  padding: 10px 20px; 
  border: none; 
  border-radius: 25px; 
  color: whitesmoke;
  background-color: #2a9612;
  margin-top: 10px;
  align-self: center;
}

.form-container {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 10px; 
  width: 60%; 
  margin: 0 auto; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
}


//CARD STYLING 
.swipe {
  position: absolute;
}

.swiper-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 3px solid gold;
  margin: 0 auto;
}

.card-container {
  width: 90vw;
  max-width: 460px;
  height: 500px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 460px;
  height: 500px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;

  img {
    max-width: 350px;
    max-height: 600px;
    border-radius: 50%;
    position: absolute;
    bottom: 10rem;
  }

  h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: black;
  border: 2px solid gold;
  padding: 10px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  }

  h4 {
    position: absolute;
    right: 0;
    text-transform: uppercase;
    margin-right: 5px;
  }

  #dogBreed {
    position: absolute;
    left: 0;
    text-transform: uppercase;
    margin-left: 5px;
  }
}


.swipe-info {
 position: absolute;
 bottom: 0;
 padding-left: 140px;
}

.cardContent {
  width: 100%;
  height: 100%;
}

